<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mt-3">
        <div class="row">

            <div class="col-md-3">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-active">Tüm Kategoriler</a>
                    <% catagories.forEach(catagory => { %>                    
                        <%- include("../partials/catagory-menu", {catagory}) %> 
                    <% }) %>
                </div>
            </div>
            <div class="col md-9">
                <h1 class="h3 mb-3"><%= title %></h1>
                <% blogs.forEach(blog => { %>                    
                    <%- include("../partials/blog-card", {blog}) %> 
                <% }) %>
            </div>
            
        </div>
    </div>
</body>
</html>